@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600;700&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-green:#5ECE7B;
    --dark-text:#1D1F22;
    --roboto-font:font-family: 'Roboto', sans-serif;;
    --relway-font:font-family: 'Raleway', sans-serif;;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    display: block;
    width: 100%;
}
/***** general *****/
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.primary-btn, .secondary-btn{
    padding: 1rem 2rem 1rem 2rem;
    font-weight: 600;
    font-family: var(--relway-font);
}
.primary-btn{
    border: none;
    background: var(--primary-green);
    color: #ffffff;
}
.secondary-btn{
    border: 1px solid var(--dark-text);
    background: transparent;
    color: var(--dark-text);
}
.title{
    color: var(--dark-text);
    font-family: var(--relway-font);
    font-size: 2.625rem;
}
.icon{
    width: 52px;
    height: 52px;
    background: var(--primary-green);
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/***** End general *****/